<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="AutoServiceBDEntities" connectionString="metadata=res://*/ASBD.csdl|res://*/ASBD.ssdl|res://*/ASBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BH9V1PR;initial catalog=AutoServiceBD;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>